@import url(__container/comments__container.css);
@import url(__title/comments__title.css);
@import url(__subtitle/comments__subtitle.css);
.comments {
    margin-top: 102px;
}
@media (max-width: 1024px) {
    .comments {
        margin-top: 115px;
        padding: 0 48px;
    }
}
@media (max-width: 768px) {
    .comments {
        margin-top: 105px;
    }
}
@media (max-width: 375px) {
    .comments {
        margin-top: 50px;
        padding: 0 16px;
    }
}
