.photo-grid__list {
    display: grid;
    list-style-type: none;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 0;
    padding: 0;
}
@media (max-width: 375px) {
    .photo-grid__list {
        grid-gap: 15px;
    }
}
