.intro__text_col {
    line-height: 23px;
    width: 72%;
    padding-right: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.intro__text_collast-child {
    margin-bottom: 0;
}
@media (max-width: 768px) {
    .intro__text_col {
        width: 100%;
        margin-bottom: 30px;
    }
}
@media (max-width: 375px) {
    .intro__text_col {
        font-size: 16px;
        line-height: 27px;
        padding-right: 0;
        margin-bottom: 35px;
    }
}
