.intro__content-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.intro__content-row:last-child {
    margin-bottom: 0;
}
@media (max-width: 768px) {
    .intro__content-row {
        margin-bottom: 30px;
    }
}
@media (max-width: 375px) {
    .intro__content-row {
        margin-bottom: 35px;
    }
}
