.place__website {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 5px;
}
@media (max-width: 1024px) {
    .place__website {
        margin-left: 10px;
        padding-bottom: 7px;
    }
}
@media (max-width: 1015px) {
    .place__website {
        display: none;
    }
}
