.video__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 65px auto 0;
}
@media (max-width: 1024px) {
    .video__container {
        margin-top: 60px;
    }
}
@media (max-width: 700px) {
    .video__container {
        margin-top: 45px;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 375px) {
    .video__container {
        margin-top: 25px;
    }
}
